0. Configurar o Ambiente

In [5]:
import os

## Setar o diretório de trabalho
d_geral = R'C:\Users\ferna\OneDrive\5. Trabalho\Expediente\Ativos\Consultoria\Usina Pedra\Docs Nicolella\4-Dados e documentos\Dados'
d_usina = R'C:\Users\ferna\OneDrive\5. Trabalho\Expediente\Ativos\Consultoria\Usina Pedra\Docs Nicolella\4-Dados e documentos\Dados\Usina da Pedra'
d_sp = R'C:\Users\ferna\OneDrive\5. Trabalho\Expediente\Ativos\Consultoria\Usina Pedra\Docs Nicolella\4-Dados e documentos\Dados\Geral do Estado de Sao Paulo'

# Verificar o diretório de trabalho
os.chdir(d_usina)
os.getcwd()
os.listdir()

['Dados (1) (3).xlsx',
 'Historico ATR 2016 - 2023.xlsx',
 'Historico de encerrados 2016 - 2023.xlsx',
 'Historico de Moagem 2016 - 2023.xlsx']

In [8]:
# Importar as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Configurações de visualização
# Mundar largura de visualização no pandas
pd.set_option('display.width', None)

# Mudar número de colunas que aparecem
pd.set_option('display.max_columns', None)

# Mudar número de linhas que aparecem
pd.set_option('display.max_rows', None)

***

1. Importar os dados e Criar o df

In [9]:
# Criar dataframe
df = pd.read_excel(d_usina + '\Historico de encerrados 2016 - 2023.xlsx', sheet_name='BASE_2016_2023', skiprows=1)
df.drop(['LAYER MAPA', 'VATR SAFRA', 'NM', 'Layer safra seção'], axis=1, inplace=True)

In [12]:
# Formatar colunas
df['SAFRA'] = pd.to_datetime(df['SAFRA'], format='%Y')
df['CÓD'] = df['CÓD'].astype('category')
df['TALHÃO'] = df['TALHÃO'].astype('category')
df['ESTÁGIO'] = df['ESTÁGIO'].astype('category')
df['CORTE'] = df['CORTE'].astype('category')
df['VARIEDADE'] = df['VARIEDADE'].astype('category')
df['MÊS DE COLHEITA'] = df['MÊS DE COLHEITA'].astype('category')
# df['TON/HÁ'] = df['TON/HÁ'].astype(float): tirar dúvida por que alguns tem: "PARCERIA PLENA 30%"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69418 entries, 0 to 69417
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SAFRA             69418 non-null  datetime64[ns]
 1   UNIDADE           69418 non-null  object
 2   TIPO              69418 non-null  object
 3   CÓD               69418 non-null  category
 4   SEÇÃO             69418 non-null  object
 5   TALHÃO            69417 non-null  category
 6   ÁREA              69418 non-null  float64
 7   ESTÁGIO           69418 non-null  category
 8   CORTE             69418 non-null  category
 9   VARIEDADE         69418 non-null  category
 10  PRODUÇÃO REAL     69418 non-null  float64
 11  TCH REAL          69418 non-null  float64
 12  ATR               69418 non-null  float64
 13  ATR * PRODUÇÃO    69418 non-null  float64
 14  DATA DE COLHEITA  69418 non-null  datetime64[ns]
 15  MÊS DE COLHEITA   69418 non-null  category
 16  PARCEIRO          69418 non-null  object
 17  TON/HÁ            69418 non-null  object
 18  KG ATR            69418 non-null  float64
dtypes: category(6), datetime64[ns](2), float64(6), object(5)
memory usage: 7.5+ MB

In [15]:
df.head(2)

,SAFRA,UNIDADE,TIPO,CÓD,SEÇÃO,TALHÃO,ÁREA,ESTÁGIO,CORTE,VARIEDADE,PRODUÇÃO REAL,TCH REAL,ATR,ATR * PRODUÇÃO,DATA DE COLHEITA,MÊS DE COLHEITA,PARCEIRO,TON/HÁ,KG ATR
0,2016-01-01,PEDRA,PARCERIA,10001,10001 - LAGOINHA,1.0,21.64,1A,1,RB966928,1345.438,62.17,124.85,167977.9343,2016-12-04,12,BERNARDO BIAGI E OUTRO,26.86,121.9676
1,2016-01-01,PEDRA,PARCERIA,10001,10001 - LAGOINHA,2.0,16.05,1A,1,RB966928,1146.195,71.41,124.56,142770.0492,2016-12-04,12,BERNARDO BIAGI E OUTRO,26.86,121.9676

In [16]:
df.tail(2)

,SAFRA,UNIDADE,TIPO,CÓD,SEÇÃO,TALHÃO,ÁREA,ESTÁGIO,CORTE,VARIEDADE,PRODUÇÃO REAL,TCH REAL,ATR,ATR * PRODUÇÃO,DATA DE COLHEITA,MÊS DE COLHEITA,PARCEIRO,TON/HÁ,KG ATR
69416,2023-01-01,CEDRO,PARCERIA,71012,71012 - NOSSA SENHORA APARECIDA 2,7.0,23.02,1I,1,CTC4,1498.938,65.11,151.0,226339.638,2023-06-30,6,UMBERTO BIAGI CARVALHO,9.091,121.9676
69417,2023-01-01,CEDRO,PARCERIA,71012,71012 - NOSSA SENHORA APARECIDA 2,8.0,13.75,1I,1,CTC4,895.772,65.15,151.0,135261.572,2023-06-30,6,UMBERTO BIAGI CARVALHO,9.091,121.9676

In [17]:
df.describe()

,SAFRA,ÁREA,PRODUÇÃO REAL,TCH REAL,ATR,ATR * PRODUÇÃO,DATA DE COLHEITA,KG ATR
count,69418,69418.000000,69418.000000,69418.000000,69418.000000,6.941800e+04,69418,69418.000000
mean,2019-06-24 15:40:10.544815616,11.577644,900.874245,78.813921,131.551430,1.184306e+05,2020-01-20 16:37:38.180875264,121.309559
min,2016-01-01 00:00:00,0.010000,0.607000,0.150000,0.000000,0.000000e+00,2016-03-08 00:00:00,109.190000
25%,2017-01-01 00:00:00,6.090000,405.322750,56.430000,121.620000,5.140085e+04,2017-11-20 00:00:00,121.967600
50%,2020-01-01 00:00:00,10.325000,728.930500,73.780000,135.850000,9.637571e+04,2020-03-24 00:00:00,121.967600
75%,2021-01-01 00:00:00,15.660000,1197.630750,94.970000,147.890000,1.606269e+05,2021-10-16 00:00:00,121.967600
max,2023-01-01 00:00:00,298.690000,8947.830000,10459.100000,195.250000,1.138074e+06,2023-12-20 00:00:00,140.000000
std,NaN,7.357393,702.466171,82.781249,28.387423,9.484242e+04,NaN,3.001175

In [18]:
df.describe(include='category')

          CÓD   TALHÃO  ESTÁGIO  CORTE VARIEDADE  MÊS DE COLHEITA
count   69418  69417.0    69418  69418     69418            69418
unique   1796    448.0       25     14       122               11
top     50004      1.0        3      3      CTC4                9
freq     1177   8115.0    14112  14736     12310             9889

***

3. AED